<nav class="navbar">
    <div class="left-section">
        <a href="{{ url_for('index') }}">
            <img src="/static/images/logo.png" class="navbar-brand"  alt="My Burger Logo"/>
        </a>
    </div>
    <div class="middle-section">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Maison du chef</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'my_burgers' %}active{% endif %}" href="{{ url_for('my_burgers') }}">Voir mes burgers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.endpoint == 'create_burger' %}active{% endif %}" href="{{ url_for('create_burger') }}">Créer un burger</a>
            </li>
        </ul>
    </div>
    <div class="right-section">
        {% if session.get('user_id') %}
        <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
        {% else %}
        <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Se connecter</a>
        {% endif %}
    </div>
</nav>