/* Général */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    margin-top: 40px;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Liste des burgers */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li:hover {
    background-color: #f9f9f9;
}

/* Formulaire d'ajout de burger */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form input[type="text"], form input[type="number"], form input[type="checkbox"] {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #ff5722;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

form button:hover {
    background-color: #e64a19;
}

/* Sections de notation */
form input[type="number"] {
    width: 60px;
}

button[type="submit"] {
    padding: 8px 15px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Style de l'input checkbox */
input[type="checkbox"] {
    margin: 10px 0;
}
