body {
    background-color: black;
}

.navbar {
    margin-bottom: 20px;
    background-color: #080808 !important; 
}

.nav-link {
    color: #ffffff !important;
}
.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
}

.navbar .nav-link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}

.navbar .nav-link:hover {
    color: #B30000 !important;
}

.navbar .nav-item.active .nav-link {
    color: #B30000 !important;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    color: #ffffff;
}

.container {
    text-align: center;
}

.btn-primary {
    margin-top: 20px;
    background-color: #B30000;
    border-color: #B30000;
}

.btn-primary:hover {
    background-color: #B30000;
    border-color: #B30000;
}

.hero-image img {
    height: auto;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}