<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mes Burgers</title>
</head>
<body>
<main class="three-part">
    <nav class="navbar">
        <div class="left-section">
            <a href="{{ url_for('index') }}">
                <img src="/static/images/logo.png" class="navbar-brand"  alt="My Burger Logo"/>
            </a>
        </div>
        <div class="middle-section">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Maison du chef</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'my_burgers' %}active{% endif %}" href="{{ url_for('my_burgers') }}">Voir mes burgers</a>
                </li>
            </ul>
        </div>
        <div class="right-section">
            {% if session.get('user_id') %}
                <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Se connecter</a>
            {% endif %}
        </div>
    </nav>
    <div class="panel left-panel">
        <div class="container">
            <h2>Tous les Burgers</h2>
            {% if burgers %}
                <ul class="burgers">
                    {% for burger in burgers %}
                        <li>
                            <p><strong>{{ burger.name }}</strong> - Ingrédients : {{ burger.ingredients|join(", ") }}</p>
                            <p><strong>Créateur :</strong> {{ burger.creator }}</p>
                            <p><strong>Note moyenne :</strong> {{ burger.rating if burger.rating else "Aucune note" }}</p>
                            {% if session.get('user_id') %}
                            <form id="rate" action="{{ url_for('rate_burger', burger_id=burger._id) }}" method="POST">
                                <div class="rating" id="rating-{{ burger._id }}">
                                    <input type="radio" id="star5-{{ burger._id }}" name="rating" value="5" />
                                    <label for="star5-{{ burger._id }}" title="5 étoiles">★</label>

                                    <input type="radio" id="star4-{{ burger._id }}" name="rating" value="4" />
                                    <label for="star4-{{ burger._id }}" title="4 étoiles">★</label>

                                    <input type="radio" id="star3-{{ burger._id }}" name="rating" value="3" />
                                    <label for="star3-{{ burger._id }}" title="3 étoiles">★</label>

                                    <input type="radio" id="star2-{{ burger._id }}" name="rating" value="2" />
                                    <label for="star2-{{ burger._id }}" title="2 étoiles">★</label>

                                    <input type="radio" id="star1-{{ burger._id }}" name="rating" value="1" />
                                    <label for="star1-{{ burger._id }}" title="1 étoile">★</label>
                                </div>
                            </form>
                            <script>
                              // Requête AJAX pour récupérer la note de l'utilisateur pour ce burger
                              fetch("/rate_burger/{{ burger._id }}")
                                .then(response => response.json())
                                .then(data => {
                                  if (data.user_rating !== null) {
                                    // Si une note existe, cochez l'étoile correspondante
                                    document.querySelector(`#star${data.user_rating}-{{ burger._id }}`).checked = true;
                                  }
                                })
                                .catch(err => console.error(err));
                            </script>
                            {% else %}
                            <p>Il faut se <a href="{{ url_for("login") }}">connecter</a> pour voter</p>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Crée le premier Burger de l'histoire</p>
            {% endif %}

            {% if session.get('user_id') %}
                <div>
                    <p>Bienvenue, {{ session['user_id'] }}</p>
                    <p>Découvrez Pimp My Burger, un site innovant où la créativité culinaire rencontre le plaisir du partage !</p>
                    <p >Rejoignez une communauté où chaque burger est une œuvre d’art et où vos idées peuvent devenir une inspiration pour d’autres. Burger Lab n’est pas juste un site, c’est une aventure culinaire interactive !
                        👉 Prêt à créer le burger de vos rêves ?</p>
                    <a href="{{ url_for("create_burger") }}" class="btn btn-primary">Créer un burger</a>
                </div>
                <div class="">

                <p>Créez votre burger idéal à partir de zéro en personnalisant chaque élément :<br>
                    <br>
                    Choisissez votre pain : <br>
                    brioché, complet, au sésame ou encore au charbon végétal
                    <br>
                    Composez votre garniture : <br>
                    steak, poulet, options végétariennes ou véganes, et ajoutez des fromages savoureux, légumes frais et sauces uniques
                    <br>
                    Ajoutez une touche personnelle<br>
                    Avec des ingrédients spéciaux ou insolites pour créer un chef-d'œuvre qui vous ressemble
                </p>
                {% else %}
                    <p>Veuillez vous connecter pour créer un burger.</p>
                {% endif %}
                </div>
            </div>
    </div>
    <div class="panel right-panel">
        <img class="image-burger" src="/static/images/burger.jpg" alt="">
    </div>
</main>
<script src="/static/script.js"></script>
</body>
</html>