<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Burgers</title>
</head>
<body>

<h2>Tous les Burgers</h2>
{% if burgers %}
    {% for burger in burgers %}
    <div class="burger">
        <h3>{{ burger.name }}</h3>
        <p><strong>Créateur:</strong> {{ burger.creator }}</p>
        <p><strong>Ingrédients:</strong> {{ burger.ingredients | join(', ') }}</p>
        <p><strong>Note</strong> {{ burger.rating }} </p>
        <!-- Formulaire de notation -->
        {% if 'user_id' in session %}
        <form action="{{ url_for('rate_burger', burger_id=burger._id) }}" method="POST">
            <input type="hidden" name="user_id" value="{{ user_id }}">  <!-- ID de l'utilisateur connecté -->
            <input type="number" name="rating" min="0" max="5" step="1" required>
            <button type="submit">Soumettre ma note</button>
        </form>
        {% else %}
        <p><a href="{{ url_for('login') }}">Connectez-vous</a> pour noter ce burger.</p>
        {% endif %}
    </div>
    {% endfor %}

{% else %}
<p>Crée le premier Burger de l'histoire</p>
{% endif %}

<h2>Mes Burgers</h2>
{% if session.get('user_id') %}
<a href="{{ url_for('logout') }}">Se déconnecter</a><br><br>
<p>Bienvenue, {{ session['user_id'] }}</p>
<a href="{{ url_for('create_burger') }}">Créer un burger</a>
{% else %}
<a href="{{ url_for('login') }}">Se connecter</a><br><br>
<p>Veuillez vous connecter pour créer un burger.</p>
{% endif %}

<a href="{{ url_for('my_burgers') }}">Voir mes burgers</a>
<a href="{{ url_for('index') }}">Retour à l'accueil</a>
</body>
</html>
