<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mes Burgers</title>
</head>
<body>
<main>
    {% include 'partials/navbar.html' %}
    <div class="container">
        <h1>Mes Burgers</h1>
        <ul>
            {% for burger in burgers %}
                <li>
                    <form class="burger_form" action="{{ url_for('delete_burger', burger_id=burger._id) }}" method="POST">
                        <h2><strong>{{ burger.name }}</strong> - Ingrédients: {{ burger.ingredients|join(", ") }}</h2>
                        <p><strong>Créateur :</strong> {{ burger.creator }}</p>
                        <button class="btn btn-primary" type="submit">Supprimer</button>
                    </form>
                </li>
            {% else %}
                <p>Aucun burger créé pour le moment.</p>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Retour à l'accueil</a>
    </div>
</main>
</body>
</html>
