<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mes Burgers</title>
</head>
<body>
<main>
    <nav class="navbar">
        <div class="left-section">
            <a href="{{ url_for('index') }}">
                <img src="/static/images/logo.png" class="navbar-brand" alt="My Burger Logo"/>
            </a>
        </div>
        <div class="middle-section">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index') }}">Maison du chef</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'my_burgers' %}active{% endif %}" href="{{ url_for('my_burgers') }}">Voir mes burgers</a>
                </li>
            </ul>
        </div>
        <div class="right-section">
            {% if session.get('user_id') %}
                <a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="nav-link {% if request.endpoint == 'login' %}active{% endif %}" href="{{ url_for('login') }}">Se connecter</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <h1>Mes Burgers</h1>
        <ul>
            {% for burger in burgers %}
                <li>
                    <form class="burger_form" action="{{ url_for('delete_burger', burger_id=burger._id) }}" method="POST">
                        <h2><strong>{{ burger.name }}</strong> - Ingrédients: {{ burger.ingredients|join(", ") }}</h2>
                        <p><strong>Créateur :</strong> {{ burger.creator }}</p>
                        <button class="btn btn-primary" type="submit">Supprimer</button>
                    </form>
                </li>
            {% else %}
                <p>Aucun burger créé pour le moment.</p>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Retour à l'accueil</a>
    </div>
</main>
</body>
</html>
